@(message: String)(implicit lang: Lang, userName: Option[String])

@import snippets._

@main("credits")("")(userName)(navigation("home")(userName)) {         
    <div id="creditsdiv" role="main" class="main" >
          <p>TradTuneStore obviously owes a tremendous debt to Chris Walshaw for the <a href="http://abcnotation.com/">ABC notation</a>. It uses the MusicRest web service for storing and transcoding its tunes. This in turn transcodes by means of:</p>
          <table id="samplesearch" >
             <tr>
                <td>ABC to postscript:</td>
                <td><a href="http://moinejf.free.fr/">abcm2ps</a></td>
             </tr>
             <tr>
                <td>postscript to various formats:</td>
                <td><a href="http://linux.about.com/od/commands/l/blcmdl1_convert.htm">convert</a></td>
             </tr>
             <tr>
                <td>ABC to midi:</td>
                <td><a href="http://abc.sourceforge.net/abcMIDI/">abcMIDI</a></td>
             </tr>
             <tr>
                <td>midi to wav:</td>
                <td><a href="https://wiki.archlinux.org/index.php/Timidity">timidity</a></td>
             </tr>
          </table>
          <p>Code is written in scala, with particular thanks to the following:</p>         
          <table id="samplesearch" >
             <tr>
                <td>content negotiation:</td>
                <td><a href="https://github.com/spray/spray">spray</a></td>
             </tr>
             <tr>
                <td>web framework:</td>
                <td><a href="http://www.playframework.org/">play</a></td>
             </tr>
             <tr>
                <td>interface to the <a href="http://www.mongodb.org/" >mongoDB</a> database:</td>
                <td><a href="http://api.mongodb.org/scala/casbah/2.0/">casbah</a></td>
             </tr>
             <tr>
                <td>validation:</td>
                <td><a href="http://code.google.com/p/scalaz/wiki/Scalaz7">scalaz</a></td>
             </tr>
          </table>

    </div>
}


