

.hoverable {
  border: none;
  border-radius: 6px;
  padding: 2px 10px;
  margin: 10px 20px 10px 0;
  background-color: #67d665;
  color: black;
  box-shadow: 3px 3px #669966;
  transition: 500ms;
}

.hoverable:hover {
  box-shadow: 0 0;
  background-color: #669966;
}


/* unhoverable means greyed and disabled */
.unhoverable {
  border: none;
  border-radius: 6px;
  padding: 2px 10px;
  margin: 10px 20px 10px 0;
  background-color: lightGray;
  color: darkGray;
  transition: 500ms;
}

.center {
  text-align: center;
}

.abcEdit {
  /* this is the editor text area */
  padding: 10px 0 10px 0;
  margin: 0 2px 0 2px;
  font-size: 1.5em;
  font-family: "Times New Roman", monospace;
  background-color: Beige;
  text-align: left;
  display: block;
}

#tempo-slider {
  width: 160px;
}

#transposition-menu {
  background-color: #cccc99;
  font-size: 1.0em;
}

#tune-title {
  width: 1200px;
  float: left;
  margin: 12px 0px 0px 0px;
}

/* this over-writes values in base.css for label
   we seem to need this width for FireFox
   but it looks awkaward in Chrome
*/
.labelAlignment {
  text-align: left;
  padding: 0px 0px;
  margin: 2px 0px 10px 20px;
  width: 190px;
  font-size: 1.2em;
}


.fileInputLabel {
  /* the label for a file input */
  width: 105px;             /* we need this for FireFox, awkwardly big in Chrome */
  margin: 0 20px 0 0;
  text-align: left;
  display: inline-block;
}

/*
.msCommitLabel {
  display: inline-block;
  margin: 5px 0px 0px 0px;
  display: inline-block;
  text-align: left;
  color: #444;
  width: 180px;
  font-size: 1.1em;
}
*/

.leftPane {
  width: 450px;
  float: left;
}

.rightPane {
  float: left;
}

.leftPanelComponent {
  /* align items in the LHS panel */
  margin: 10px 0 0 0;
  font-size: 1.2em;
  font-family: Georgia, serif;
}
