@(version: String)(implicit lang: Lang, userName: Option[String])

@import snippets._

<!-- elm code for the ABC tutorial -->
@scripts = {
  <script src="@routes.Assets.at("javascripts/abc-tutorial.js")" type="text/javascript"></script>
}

@main("abctutorial", None, userName, navigation("abc")(userName), scripts) {
    <div id="abcdiv" role="main" class="main" >
      <!--  we use this div  as the placeholder for the running PureScript code  -->
      <div id= "embed-ps-div">
        <!-- and place an element inside to avoid its being optimised away -->
        </p>
      </div>
    </div>
}
