@(advancedSearchForm: Form[AdvancedSearch])(implicit lang: Lang, genre: String, userName: Option[String])

@import snippets._
@import utils.Pimps._
@import utils.Utils


@onLoad=@{Utils.onLoadCommand1(genre)}

@main("advanced search")(onLoad)(userName)(navigation("home")(userName)) {         
     <div id="advancedsearchdiv" role="main" class="main" >
        @helper.form(action = routes.Application.processAdvancedSearch, 'id -> "advancedsearchform", 'enctype -> "application/x-www-form-urlencoded" ) {
        <!--form id="advancedsearchform" name="Search" action="searchresult.html" method="POST" enctype="application/x-www-form-urlencoded" -->
           <fieldset>
            <legend >advanced search</legend>
             <ul>
              <li>
               <label for="genre" class="advancedsearch" >genre:</label>
               <select type="text" id="genre" name="genre" class ="medium" />
                 <option value = "irish">Irish</option>
                 <option value = "scottish">Scottish</option>
                 <option value = "scandi">Scandi</option>
                 <option value = "klezmer">Klezmer</option>
               </select>
              </li>
              <li>
               <!--input type="text" name="criteria" id="searchcriteria" required="required" /-->  
               @helper.inputText(advancedSearchForm("criteria"), '_class -> "advancedsearch", 'id -> "searchcriteria")
              </li>
              </li>
            </ul>
            <input type="submit" value = "search" />            
           </fieldset>
          }
          <p>Some example searches:
          <table id="samplesearch" >
             <tr>
                <td>T=sligo</td>
                <td>'sligo' in the name</td>
             </tr>
             <tr>
                <td>R=slip+jig</td>
                <td>slip jigs</td>
             </tr>
             <tr>
                <td>R=jig</td>
                <td>both jigs and slip jigs</td>
             </tr>
             <tr>
                <td>abc=fedd</td>
                <td>with this succession of notes (irrespective of octave)</td>
             </tr>
             <tr>
                <td>R=reel&K=BMin</td>
                <td>reels in B Minor</td>
             </tr>
          </table>

          
       </div>
}


