@(midiMetadataForm: Form[MidiMetadata], filename: String, abc: Option[String], tuneImageRef: Option[String], tuneImageError: Option[String])(implicit lang: Lang, genre: String, userName: Option[String])

@import snippets._ 
@import helper._
@import utils._

@abcText=@{abc.getOrElse("")}
@abcTextEncoded=@{Utils.base64Encode(abcText)}
@imageUrl=@{tuneImageRef.getOrElse("")}
@imageError=@{tuneImageError.getOrElse("")}
@downloadName=@{filename.takeWhile(_ != '_') + ".txt"}
@rhythm=@{controllers.Forms.getFormValue(midiMetadataForm, "rhythm").getOrElse("polka")}
@onLoad=@{Utils.onLoadCommand2(genre, rhythm)}

@main("convert")(onLoad)(userName)(navigation("midi2abc")(userName))  {         

     <div id="metadatadiv" role="main" class="main" >
       
         @helper.form(action = routes.Application.processMidiMetadata, 'id -> "metadataform", 'enctype -> "application/x-www-form-urlencoded" ) {
          
           <fieldset>
            <legend >Step 2: add tune information</legend>
             <ul>         
              <li>  
               @select(field = midiMetadataForm("trackno"), options( "0"->"0",
                                                             "1"->"1",
                                                             "2"->"2",
                                                             "3"->"3",
                                                             "4"->"4",
                                                             "5"->"5",
                                                             "6"->"6"
                                                           ), '_label -> "midi track",'_class -> "metadata")
      
              </li>
              <li>
              @select(field = midiMetadataForm("leadin"), options( "(0%8)"->"none",
                                                           "(1%16)"->"1/16",
                                                           "(1%8)"->"1/8",
                                                           "(3%16)"->"3/16",
                                                           "(1%4)"->"1/4",
                                                           "(5%16)"->"5/16",
                                                           "(3%8)"->"3/8",
                                                           "(7%16)"->"7/16",
                                                           "(1%2)"->"1/2",
                                                           "(9%16)"->"9/16",
                                                           "(5%8)"->"5/8",
                                                           "(3%4)"->"3/4"
                                                         ),'_label -> "lead in bar length",'_class -> "metadata")
     
              </li>
              <li> 
               @select(field = midiMetadataForm("notelen"), options( "(1%16)"->"1/16",
                                                             "(1%8)"->"1/8" 
                                                           ),'_label -> "default note length",'_class -> "metadata")
               
     
              </li>
              <li> 
               <dl class="metadata" id="genreMetadata">   
                  
                <dt><label for="genreMetadata">genre</label></dt>    

                <dd>
                  <select type="text" id="genre" name="genre" class ="metadata" onchange="rhythmChange(this.value, false)" >
                    <option value = "irish">Irish</option>
                    <option value = "scottish">Scottish</option>
                    <option value = "scandi">Scandi</option>
                  </select>
                 </dd>
                </dl>
              </li>
              <li>
                <dl class="metadata " id="rhythmMetadata">
    
                  <dt><label for="rhythmMetadata">rhythm</label></dt>    
                  <dd>
                    <select type="text" id="rhythm_dropdown" name="rhythm" class ="metadata"  >   
                    </select>
                  </dd>    
               </dl>
              </li>

              <li>  
               @select(field = midiMetadataForm("key"), options = options( "An"->"A",
                                                                   "Ash"->"A#",
                                                                   "Bfl"->"B♭",
                                                                   "Bn"->"B",
                                                                   "Cn"->"C",
                                                                   "Csh"->"C#",
                                                                   "Dfl"->"D♭",
                                                                   "Dn"->"D",
                                                                   "Dsh"->"D#",
                                                                   "Efl"->"E♭",
                                                                   "En"->"E",
                                                                   "Fn"->"F",
                                                                   "Gfl"->"G♭",
                                                                   "Gn"->"G",
                                                                   "Gsh"->"G#",
                                                                   "Afl"->"A♭"
                                                           ),'_class -> "metadata")
      
              </li>
              <li>
               
              @select(field = midiMetadataForm("mode"), options = options("Major"->"major","Minor"->"minor"),'_class -> "metadata")
     
              </li>
            </ul>
            <input type=hidden name=filename value="@filename">
            <input type="submit" value = "translate to ABC" />            
           </fieldset>
        }

        @if(abc.isDefined) {
          <textarea disabled rows="20" cols="100">@abcText</textarea>     
          <a id="download" href="data:text/plain;charset=utf-8;base64,@abcTextEncoded" download="@downloadName">download abc</a>
        }

        @if(tuneImageRef.isDefined) {        
         <div  id="tunediv"  role="main" class="main" >  
             <img src="@imageUrl" alt="some name"/> 
         </div>
        }    
        
        @if(tuneImageError.isDefined) {        
            <p>@imageError</p>
        }    
       </div>
}


