@(message: String)(implicit lang: Lang, userName: Option[String])

@import snippets._

@main("credits", None, userName, navigation("home")(userName)) {
    <div id="creditsdiv" role="main" class="main" >
          <p>TradTuneDb uses <a href="http://abcnotation.com/">ABC notation</a> and so obviously owes a tremendous debt to Chris Walshaw who developed it.
 It uses the <a href="https://github.com/newlandsvalley/musicrest">MusicRest</a> web service for storing and transcoding its tunes. This in turn transcodes by means of:</p>
          <table id="samplesearch" >
             <tr>
                <td>ABC to <a href="http://en.wikipedia.org/wiki/PostScript">postscript:</a></td>
                <td><a href="http://moinejf.free.fr/">abcm2ps</a></td>
             </tr>
             <tr>
                <td>postscript to various formats:</td>
                <td><a href="http://linux.about.com/od/commands/l/blcmdl1_convert.htm">convert</a></td>
             </tr>
             <tr>
                <td>ABC to <a href="http://en.wikipedia.org/wiki/MIDI">midi:</a></td>
                <td><a href="http://abc.sourceforge.net/abcMIDI/">abcMIDI</a></td>
             </tr>
          </table>
          <p>It uses the <a href="http://mudcu.be/midi-js/">MIDI.js</a> midi player to play tunes which have been saved to the database and the soundfont
              player from  <a href="https://github.com/newlandsvalley/purescript-halogen-components">purescript-halogen-components</a> for tunes played
              in the ABC editor and tutorial. It uses <a href="http://www.vexflow.com/">VexFlow</a> for dynamic score engraving in the editor.</p>
          <p>Code is written in scala and <a href="http://www.purescript.org/">PureScript</a>, with particular thanks to the following:</p>
          <table id="samplesearch" >
             <tr>
                <td>content negotiation:</td>
                <td><a href="http://spray.io/">spray</a></td>
             </tr>
             <tr>
                <td>web framework:</td>
                <td><a href="http://www.playframework.org/">play</a></td>
             </tr>
             <tr>
                <td>interface to the <a href="http://www.mongodb.org/" >mongoDB</a> database:</td>
                <td><a href="http://api.mongodb.org/scala/casbah/2.0/">casbah</a></td>
             </tr>
             <tr>
                <td>JSON:</td>
                <td><a href="http://argonaut.io/">argonaut</a></td>
             </tr>
          </table>

    </div>
}
