@(passwordReminderForm: Form[PasswordReminder], message: Option[String])(implicit lang: Lang, userName: Option[String])

@import snippets._
@import utils.Pimps._
@import utils.Utils

@main("password reminder")(None)(userName)(navigation("login")(userName)) {   
    <div id="logindiv" role="main" class="main" > 
        <span class="error" >@(message.map(m => m))</span>     
        <!--form name="Login" id="loginform" action=@(Utils.remoteService) + "user/password" method="POST" enctype="application/x-www-form-urlencoded" -->
        @helper.form(action = routes.Application.processPasswordReminder, 'id -> "passwordReminderForm", 'enctype -> "application/x-www-form-urlencoded") {
         <fieldset>
           <legend class="login" >Password Reminder</legend>
            <ul>
             <li>
             @helper.inputText(passwordReminderForm("name"), 'required -> "required", '_class -> "login")
             </li>
           @passwordReminderForm.globalError.map { error =>
             <span class="errors">@error.message</span>
            }
           </ul> 
           <input type="submit" value = "Next" />
         </fieldset>
        }
   </div>
}




