@(message: String)(implicit lang: Lang, genre: String, userName: Option[String])

@import snippets._
@import utils.Pimps._

@main("upload")(None)(userName)(navigation("upload")(userName)) {         
    <div id="uploadtunediv" role="main" class="main" >

   @helper.form(action = routes.Application.processUpload, 'enctype -> "multipart/form-data", 'id -> "uploadtuneform" ) {    
     <fieldset>
       <legend >Upload Tune</legend>
          <ul>
            <li>
             <p>Upload an ABC file to the @genre genre. (The file extension should be <em>.txt</em> although some browsers support <em>.abc</em>)</p>
            </li>
            <li>
             <p>The file should contain a single tune</p>
            </li>
            <li>
             <input type="file" name="abc" class ="fileinput" value="load ABC file" accept=".abc, .txt" media_type="text/vnd.abc" >
            </li>
          </ul>
          <p>
           <input type="submit" value="upload">
          </p>
      </fieldset>
    }
   </div>
}


